@import '../abstract/variables-and-mixins';


.container__bg-hero {
     height: 49.8rem;
     width: 32rem;
     @include bg-color(bottom, $brand-color-secondary-pure, $brand-color-secondary-dark);
     
     .hero-banner__image {
          position: absolute;
          margin: 3.3rem 1rem;
          width: 30rem;
          height: 29.7rem;
          z-index: 10;
     }
     .hero-banner__title {
          width: 28.3rem;
          height: 4rem;
          position: absolute;
          margin: 25rem 1.8rem 21.9rem 1.9rem;
          &.outline {
               z-index: 99;
          }
          &.filled {
               z-index: 0;
          }
     }
     .hero-banner__text {
          font-size: 1.6rem;
          font-weight: $font-weight__light;
          color: $neutral-color-high-light;
          line-height: 2.8rem;
          text-align: center;
          padding: 30.3rem 1.6rem 2rem 1.6rem;
     }
     .container__btn {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 0.4rem;
          .button-store {
               width: 14rem;
               height: 3.6rem;
               background: $brand-color-secondary-pure;
               border-radius: 4%;
               .button-image {
                    padding: 0.8rem 2.7rem 0.8rem 2.8rem;
                    &.button-image-primary {
                         width: 7.7rem;
                         height: 2rem;
                    }
                    &.button-image-secondary {
                         width: 8.5rem;
                         height: 2rem;
                    }
               }
          }
     }
     .container__chevron-down {
          padding-top: 2rem;
          color: $neutral-color-high-light;
          text-align: center;
     }
}
