.container__bg-advanced-filters {
     @extend %container_bg-module;
     @include bg-color(bottom, $brand-color-primary-pure, $brand-color-primary-dark);
}

.container__heading {
     @extend %div-container-module;
     .fa-heart {
          @extend %heart;
     }
     @include style-headings (heading-advanced-filters,$neutral-color-high-light)
     
}

.container__images {
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     flex-wrap: nowrap;
     .advanced-filters__images {
          width: 4rem;
          height: 4rem;
          margin-right: -1.5rem;
          @extend %z-index;
     }
}