@import '../abstract/variables-and-mixins';
@import './features-banner';

.container__bg-contents {
     margin-top: 9.5rem;
     width: 32rem;
     height:53rem;
     background: url(/img/banner__03.png);
     background-repeat: no-repeat;
     background-size: 32rem 53rem;
     &.bg-transition {
          position: relative;
               &::before {
               position: absolute;
               content: "";
               width: 32rem; 
               height: 9.6rem;
               background: $neutral-color-linear-gradient;
          }
     }
     &.bg-filter{
          position: relative;
          &::after {
               -webkit-backdrop-filter: blur(0.3rem);
               backdrop-filter: blur(0.3rem);
               content: "";
               display: block;
               position: absolute;
               width: 100%; 
               height: 100%;
               top: 0;
               z-index: 0;
          }
     }
     .container__bg-linear-gradient {
          padding-top: 11rem;
          width: 32rem;
          height:42rem;
          background: $dark-color-linear-gradient;
          
          .heading-contents {
          position: relative;
          z-index: 2;
          color: $neutral-color-high-light;
          }
     }
     
}

