@import '../tokens/typography-styles';
@import '../tokens/typography-modules';
@import '../tokens/colors';
@import '../tokens/variables-and-mixins';

.container__bg-contents {
     margin-top: 9.5rem;
     width: 32rem;
     height: 53rem;
     background: url(/img/banner__03.png);
     background-repeat: repeat;
     background-size: 200%;
     // overflow: hidden;
     &.bg-transition {
          position: relative;
               &::before {
               position: absolute;
               content: "";
               width: 32rem; 
               height: 9.7rem;
               background: $neutral-color-linear-gradient;
          }
     }
     &.bg-filter{
          position: relative;
          &::after {
               -webkit-backdrop-filter: blur(0.3rem);
               backdrop-filter: blur(0.3rem);
               content: "";
               display: block;
               position: absolute;
               width: 100%; 
               height: 100%;
               top: 0;
               z-index: 0;
          }
     }
     .container__bg-linear-gradient {
          padding-top: 11rem;
          width: 32rem;
          height:42rem;
          background: $dark-color-linear-gradient;
          
          .container__heading {
               @extend %container-module;
               .fa-heart {
                    @extend %heart;
               }
               .heading__secondary {
                    @extend %h3;
                    &.heading-contents__secondary {
                         color: $neutral-color-high-light;
                         
                    }
               }
               .heading__primary {
                    @extend %h1;
                    &.heading-contents__primary {
                         color: $neutral-color-high-light;
                         
                    }
               }
               .container-text {
                    @extend %p;
                    &.heading-features__text {
                         color: $neutral-color-high-light;
                         padding-bottom: 3.6rem;
                         
                    }
               }
               
          }
     }
     
}



