.container__bg-features {
     @extend %container_bg-module;
     background-color: $neutral-color-high-light;
}
.container__heading {
     .heading-features__secondary {
               color: $neutral-color-low-dark;
          }
     .heading-features__primary {
               color: $brand-color-primary-pure;
          }
     .heading-features__text {
          color: $neutral-color-low-dark;
          padding-bottom: 3.6rem;
     }
}
.features-banner__image {
     display: flex;
     justify-content: center;
     align-items: center;
     width: 32rem;
     height: 30rem;
     padding-bottom: 3rem;
     
}
