.container__bg-features {
     @extend %container_bg-module;
     background-color: $neutral-color-high-light;
}
.container__heading {
     @extend %div-container-module;
     .fa-heart {
          @extend %heart;
     }
     .heading__secondary {
          @extend %h3;
          &.heading-features__secondary {
               color: $neutral-color-low-dark;
          }
     }
     .heading__primary {
          @extend %h1;
          &.heading-features__primary {
               color: $brand-color-primary-pure;
          }
     }
     .container-text {
          @extend %p;
          &.heading-features__text {
               color: $neutral-color-low-dark;
               padding-bottom: 3.6rem;
          }
     }
     
}
.second-banner__image {
     display: flex;
     justify-content: center;
     align-items: center;
     width: 32rem;
     height: 30rem;
     padding-bottom: 3rem;
     
}
