@import '../abstract/variables-and-mixins';


.container__background {
     height: 49.8rem;
     width: 33.5rem;
     @include bg-color(bottom, $brand-color-secondary-pure, $brand-color-secondary-dark);
     .main-banner__image {
          position: absolute;
          margin: 3.3rem 1rem auto 1rem;
          width: 32.0rem;
          height: 29.7rem;
          z-index: 10;
     }
     .main-banner__title {
          position: absolute;
          font-size: 3.2rem;
          padding-bottom: 2.4rem;
          text-align: center;
          font-weight: $font-weight__medium;
          &.outline {
               margin: 25rem 1rem 21.9rem 3rem;
               text-align: center;
               z-index: 99;
          }
          &.filled {
               margin: 25rem 1rem 21.9rem 3rem;
               z-index: 0;
          }
     }
     .main-banner__text {
          font-size: 1.6rem;
          font-weight: $font-weight__thin;
          color: $neutral-color-high-light;
          line-height: 2.8rem;
          text-align: center;
          padding: 30.3rem 1.6rem 2rem 1.6rem;
     }
     .container__btn {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 0.4rem;
          .button-store {
               width: 14rem;
               height: 3.6rem;
               background: $brand-color-secondary-pure;
               border-radius: 4%;
               .button-image {
                    padding: 0.8rem 2.7rem 0.8rem 2.8rem;
                    &.button-image-primary {
                         width: 7.7rem;
                         height: 2rem;
                    }
                    &.button-image-secondary {
                         width: 8.5rem;
                         height: 2rem;
                    }
               }
          }
     }
     .container__chevron-down {
          padding-top: 4.1rem;
          color: $neutral-color-high-light;
          text-align: center;
     }
}
