@import '../abstract/variables-and-mixins';


.header-background {
     height: 49.8rem;
     @include bg-color(bottom, $background-color__secondary,$background-color__tertiary);
          .nav_bar {
               display: flex;
               align-items: center;
               justify-content: space-between;
               padding: 1.6rem 1.2rem 1.2rem 1.6rem;
               .container__logo {
                    padding-right:1.8rem;
                    .logo-zoosk {
                         width: 2.4rem;
                         height: 3.2rem;
                    }
               }
               .wrapper-menu {
                    display: flex;
                    align-items: center;
                    gap: 0.8rem;
                    .button {
                         padding: 1.2rem 2.4rem;
                         line-height: 1.8rem;
                         font-size: 1.4rem;
                         &.button__primary {
                              background: $background-color__quaternary;
                              color: $font_color__tertiary;
                              border-radius: 0.4rem;
                         }
                         &.button__secondary {
                              color: $font_color__secondary;
                         }
                    }
                    
               }
          }
}