@import '../abstract/variables-and-mixins';

.nav_bar {
     position: fixed;
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 1.6rem 1.2rem 1.2rem 1.6rem;
     .container__logo {
          padding-right:1.8rem;
          .logo-zoosk {
               width: 2.4rem;
               height: 3.2rem;
          }
     }
     .wrapper-menu {
          display: flex;
          align-items: center;
          gap: 0.8rem;
          .button {
               padding: 1.2rem 2.4rem;
               line-height: 1.8rem;
               font-size: 1.4rem;
               &.button__primary {
                    background: $neutral-color-high-light;
                    color: $brand-color-secondary-pure;
                    border-radius: 0.4rem;
               }
               &.button__secondary {
                    color: $neutral-color-high-light;
               }
          }
          
     }
}
