@import '../abstract/variables-and-mixins';

.container__background-secondary {
     height: 49.8rem;
     background-color: $neutral-color-high-light;
     .container__text {
          padding: 9rem 3rem 32.4rem 4rem;
          text-align: center;
          .fa-heart {
               font-size: 1.2rem;
               color: $brand-color-secondary-pure;
               padding-bottom: 1.8rem;
          }
          .main-banner__text {
               color: $neutral-color-low-dark;
               font-weight: $font-weight__bold;
               font-size: 1rem;
               text-transform: uppercase;
          }
     }
     .secondary-banner__image {
          margin-top: 27.8rem;
          width: 33.4rem;
          height: 30rem;
     }
}