//fonts
$fonts: 'Montserrat', sans-serif;

//font size
$font-size__mobile: calc(100vw / 320 * 10); 

//colors
$brand-color__primary: #19B7EA;
$brand-color__secundary: #FF6868;

$background-color__primary: #19B7EA;
$background-color__secundary: #FF6868;
$background-color__terciary: #FF3B3B;
$background-color__quaternary: #FAFAFA;

$font_color__primary: #27446A;
$font_color__secondary: #FAFAFA;

//buttons


//mixins
@mixin bg-color($position, $colors...) {
     @if $position == top {
          background: linear-gradient(to top, $colors)
     } @else {
          background: linear-gradient(to bottom, $colors);
     }
}

