@import './buttons';
@import './colors';
@import './containers-modules';
@import './heading-mixins';
@import './typography-modules';
@import './typography-styles';
@import './variables-and-mixins';


html, body {
     font-family: $font-family__base;
     font-size: $font-size__mobile;
}

a {
     text-decoration: none;
}