//colors
$brand-color-primary-pure: #19B7EA; 
$brand-color-secondary-pure: #FF6868; 

$brand-color-primary-dark: #01A2E4;
$brand-color-secondary-dark: #FF3B3B; 

$neutral-color-high-light: #FAFAFA;
$neutral-color-low-dark: #27446A;