%div-container-module {
     margin: 0 0.4rem;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     text-align: center;
     gap: 0.8rem;
}

%container_bg-module {
     width: 32rem;
     height: 53rem;
}