

//fonts
$font-family__base: 'Montserrat', sans-serif;

//font size
$font-size__mobile: calc(100vw / 320 * 10); 

//font weight
$font-weight__bold: 700;
$font-weight__medium: 500;
$font-weight__regular: 400;
$font-weight__light: 300;
$font-weight__thin: 100;

strong {
     font-weight: $font-weight__bold;
}